* {
    font-family:'Roboto',sans-serif;
}
body {
    height: 100vh;
    margin: 0;
}
.logo {
    width: 50px;
    border-radius: 100%;
}
.header {
    display: flex;
    justify-content: space-around;
    background-color:#1F2937;
    padding: 12px;
}
ul {
    display: flex;
    gap: 16px;
    align-items: center;
    list-style: none;
    
}
li a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    
}
h1 {
    font-size: 40px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;

}
.placeholder-image {
    width: 30vw;
    height: 13vw;
    object-fit: cover;
}
.first-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    padding: 120px;
}
.text-section {
    max-width: 23vw;
}
p {
    color: #f9faf8;
}
.first-section-button {
    background-color: #3882f6;
    color: white;
    border: 0;
    padding: 6px 20px;
    border-radius: 3px;
}
.card p {
    color: black;
    text-align: center;
}
.card img {
    width: 8vw;
    border: 4px solid rgb(67, 67, 255);
    border-radius: 10px;
}
.card {
    max-width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.second-section h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.quote p {
    color: #1F2937;
    font-size: 26px;
    font-style: italic;
    font-weight: light;
}
.quote {
    max-width: 750px;
}
.quote-section {
    padding: 60px;
    margin-top:60px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.quote h3 {
    text-align: right;
    color: #1F2937;
}
.action-section p {
    color: black;
}
.action-section {
    width: 500px;
    
}
.last-section2 {
    display: flex;
    justify-content: center;
    padding: 80px;
}
.last-section {
    display: flex;
    justify-content: center;
    background-color:#318CE7;
    padding: 30px 120px;
    border-radius: 10px;
}
.action-section p {
    margin-top: 0;
    color: white;
}
.action-section h2{
    margin-bottom: 0;
    color: white;
}
.action-button  {
    display: flex;
    align-items: center;
}
.action-button button {
    background-color: #318CE7;
    color: white;
    border: 2px solid white;
    padding: 6px 30px;
    border-radius: 10px;;
}
.footer {
    background-color: #1F2937;
}
.footer p {
    color: white;
    padding: 30px;
    text-align: center;
}